::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background-color: $primary;
    border-radius: 50px;
}
::-webkit-scrollbar-thumb {
    background-color: $white;
    border-radius: 50px;
}
::-webkit-scrollbar-button {
    background-color: $white;
}

#app {
    font-family: "Poppins", sans-serif;
    color: $primary;
    background: linear-gradient(90deg, #f6f8fd 29px, transparent 1%) center,
        linear-gradient(#f6f8fd 29px, transparent 1%) center, #bfc5d3;
    background-size: 30px 30px;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
}
.navbar {
    border-bottom: 0.5px solid $secondary;
    .navbar-brand {
        font-weight: map-get($font-weight, bold);
        letter-spacing: 1px;
        font-size: 24px;
    }
}
.header-home {
    background-color: $primary;
    min-height: 400px;
    color: $white;
    .bener-title {
        position: relative;
        align-items: center;
        top: 25%;
        h1 {
            font-weight: map-get($font-weight, bold);
        }
        .book-collection {
            &::after {
                content: "";
                display: block;
                border-bottom: 3px solid currentColor;
                width: 80px;
                border-radius: 10px;
                overflow: hidden;
            }
        }
    }
    .img-bener {
        margin-top: 20px;
        margin-bottom: 10px;
        background-size: cover;
        width: 100%;
        min-height: 200px;
        object-fit: cover;
        object-position: center;
        border-radius: 80px 80px 80px 1px;
    }
}

.section-brand {
    background-color: $secondary;
    color: $white;
    min-height: 100px;
    position: static;
    display: flex;
    align-items: center;
    top: 0;
    left: 0;
    bottom: 0;
}
.footer {
    min-height: 135px;
    background-color: $primary;
    position: static;
    display: flex;
    align-items: center;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    margin-top: 20px;
}
