@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap");

@import "variables";
@import "home";
@import "dasbor";
:-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background-color: $primary;
    border-radius: 50px;
}
::-webkit-scrollbar-thumb {
    background-color: $white;
    border-radius: 50px;
}
::-webkit-scrollbar-button {
    background-color: $white;
}
@import "~bootstrap/scss/bootstrap";
